<!DOCTYPE html>
<html lang="pt"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<div th:if="${msgSucesso} != null">
 <b  th:text="${msgSucesso}" style="color: blue;"></b>
  <br/><br/>
 </div>
 <div th:if="${msgError} != null">
 <b  th:text="${msgError}" style="color: red;"></b>
  <br/><br/>
 </div>
 

</body>
</html>