<!DOCTYPE html>
<html lang="pt"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>torna maiuscula</title>
</head>
<body>

 <form th:action="@{/tornaMaiuscula/transformar}"
  method="post"
  th:object="${texto}" >
 
 Digite um Texto:
 <input type="text"  name="nome" th:field="${texto.conteudo}"/>
 <input type="submit" value="enviar"/>
 
 
 </form>
  <p th:text="${textomaiuscula}"> </p>

</body>
</html>