<!DOCTYPE html>
<html lang="pt"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>



        <h1>Bem Vindo</h1>

    <a href="/usuario/cadrastro">Cadastro Usuario</a>
   <a href="/usuarios/busca">Buscar Usuario</a>

   <form th:action="@{/logout}"   method="post">

   <input type="submit" value="Sair"/> <br/>


     </form>
     
</body>
</html>